*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(239, 238, 238);
}
header{
    color:white;
    background-color: black;
    height: 70px;
}
.contact .social{
    font-size: 35px;    
    color: white;
}
p{
    text-align: center;
    font-family: 'Gabriola';
    font-size: 25px;
    font-weight: 600;
}
.container{
    display: grid;
    overflow: hidden;
    font-family: 'Sans-Serif';
}
.tab{
    float: left;
}
table{
    margin: auto;
    width: 50%;
    border-collapse: collapse;
}
th{
    height: 55px;
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS';
    font-size: 18px;
    padding: 10px;
}
td{
    padding: 10px;
    border-bottom: 0.5px solid black;
    font-family: 'Sans-Serif';
}
tr{
    background-color: rgba(245, 244, 244, 0.938) ;
    transition:all .2s ease-in-out;
}
tr:hover{
    background-color:#EEE;
    cursor: pointer;
}
tr:nth-child(even){
    background-color: white;
}
td:first-child, td:last-child{
    text-align: center;
}
.tab-2{
    margin-left: 50px;
    margin: auto;
}
.tab-2 input{
    display: block;
    margin-bottom: 20px;
}
button{
    border: none;
}
.set{
    font-size: 30px;
}
.set:hover{
    cursor: pointer;
}